{% extends 'base.html' %}
{% block title %}Home{% endblock %} 
{% block content %}

<div class="all-content">
    <div class="all-cities-image">
        <div class="home-image-text">
            {% if user.is_authenticated %}
            <h1>Where to, {{user.first_name}}?</h1>
            {% else %} 
            <h1>Where to?</h1>
            {% endif %}
            <form action="#">
            <div class="input searchbar">
                <input type="text" class="form-control-lg search" name="search" placeholder="A new city awaits you..." aria-label="City Search" aria-describedby="basic-addon2" autocomplete="off">
                <div class="input">
                    <button class="btn bg-outline pb-4 searchbtn invisible" type="button"><i class="bi bi-search"></i></button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="cities">
        <div class="see-all-cities">
            <div class="all-cities-header">
                <h1 class="homepage-city">{{header}}</h1>
            </div>
            <div class="all-cities-see-all">
                <a class="all-cities-button btn" href="{% url 'all-cities' %}">Clear Search</a>
            </div>
        </div>
        <hr>
        <div class="top-cities-container">
            {% for city in cities %}
            <a href="/city/{{city.pk}}">
            <div class="city-card">
                <div class="city-image">
                    <img src="{{city.image}}" alt="{{city.name}}">
                </div>
                <div class="city-content">
                    <h6 class="city-name-homepage">{{city.name}}</h6>
                    <p>{{city.state}}</p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}