{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <title>Wayfarer - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar fixed-top border-bottom border-light navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="image navbar-brand font-weight-bold navbar-text" href="/">
                <!-- <img src="#" alt="Wayfarer" id="main-logo" /> -->
                <h4 class="navbar-text nav-title">Wayfarer</h4>
            </a>
                <button class="navbar-toggler custom-toggler navbar-text" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link active navbar-text" aria-current="page" href="/city/">All Cities</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active navbar-text" aria-current="page" href="/events/">All Events</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active navbar-text" aria-current="page" href="#"></a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                {% for prof in profile %}
                                <img class="navbar-avatar" src="{{prof.avatar}}" alt="profile-pic">
                                {% endfor %}
                            </li>
                            <li class="nav-item my-2">
                                <a class="nav-link" href="/profile/">{{user.first_name}}'s Profile</a>
                            </li>
                            <li class="nav-item my-2">
                                <a class="nav-link" href="/accounts/logout/">Log Out</a>
                            </li>
                        </ul>
                    </div>
                
                {% else %}
                <form id="sign-in" class="form-inline my-1 my-lg-0" action="{% url 'login' %}">
                    <input id="signinbtn"  type="submit" class="btn mx-1 my-1 my-sm-0" value="Sign In">
                </form>
                <form class="form-inline my-1 my-lg-0" action="{% url 'signup' %}">
                    <input id="signupbtn" type="submit" class="btn my-1 mx-1 my-sm-0" value="Sign Up">
                </form>
            </div>
        </div>
                {% endif %}
    </nav>
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer-image">
            <img src="https://i.ibb.co/7pkgtDD/earth-1.png" alt="Wayfarer-globe" id="globe-icon" />
        </div>
        <br />
        <div class="footer-text">
            <div class="site-mission">
                <h5><span class="footer-logo">Wayfarer</span> is a new way for hip youngsters and young hipsters to see what's fun in cities around the world.</h5>
            </div>
            <br />
            <div class="copyright">
                <p>Copyright Wayfarer Travel Conglomerate Inc. | 2021</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>