{% extends 'base.html' %}
{% block title %}Home{% endblock %} 
{% block content %}

<div class="all-content">
    <div class="home-image">
        <div class="home-image-text">
            {% if user.is_authenticated %}
            <h1>Where to, {{user.first_name}}?</h1>
            {% else %} 
            <h1>Where to?</h1>
            {% endif %}
            <form action="#">
            <div class="input searchbar">
                <input type="text" class="form-control-lg search" placeholder="A new city awaits you..." aria-label="City Search" aria-describedby="basic-addon2">
                <div class="input">
                    <button class="btn bg-outline pb-4 searchbtn invisible" type="button"><i class="bi bi-search"></i></button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="cities">
        <h1 class="homepage-city">Top Cities</h1>
        <hr>
        <div class="top-cities-container">
            {% for city in cities %}
            <a href="/city/{{city.pk}}">
            <div class="city-card">
                <div class="city-image">
                    <img src="{{city.image}}" alt="{{city.name}}">
                </div>
                <div class="city-content">
                    <h6 class="city-name-homepage">{{city.name}}</h6>
                    <p>{{city.state}}</p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="events">
        <h1 class="homepage-events">Top Events</h1>
        <hr>
        <div class="top-events-container">
            {% for event in events %}
            <a href="#">
            <div class="event-card">
                <div class="event-image">
                    <img src="{{event.image}}" alt="{{event.name}}">
                </div>
                <div class="event-content">
                    <div class="event-title-homepage">
                        <h6 class="event-name-homepage">{{event.name}}</h6>
                        <p>{{event.city.name}}, {{event.city.state}}</p>
                    </div>
                    <div class="event-info-homepage">
                        <div class="person-date">
                            <p id="person"><i class="bi bi-person"></i></p>
                            <p class="person-count">{{event.users_attending.all.count}}</p>
                        </div>
                        <p id="date">11/21/21</p>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}