{% extends 'base.html' %}
{% block title %}Profile{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="profile-page">
    <div class="profile-header">
        <div class="image-name-city">
            {% for prof in profile %}
            <img src="{{prof.avatar}}" alt="user-image">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <h6>{{prof.city.name}}, {{prof.city.state}} - Joined on {{user.date_joined.month}}/{{user.date_joined.day}}/{{user.date_joined.year}}</h6>
            {% endfor %}
        </div>
    </div>
    <div class="profileeditformwrapper">
        <form action="" method="post" id="postEditForm">
            {% csrf_token %} 
            {{form | crispy}}
            <button class="btn save-changes" type="submit">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}