{% extends 'base.html' %}
{% block title %}Profile{% endblock %} 
{% block content %}
<div class="profile-page">
    <div class="profile-header">
        <div class="image-name-city">
            {% for prof in profile %}
            <img src="{{prof.avatar}}" alt="user-image">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <h6>{{prof.city.name}}, {{prof.city.state}} - {{user.date_joined.month}}/{{user.date_joined.day}}/{{user.date_joined.year}}</h6>
            {% endfor %}
        </div>
        <div class="profile-edit-btn">
            <button id="edit-profile" class="btn">Edit Profile</button>
        </div>
    </div>
    <div class="profile-posts">
        <h1 class="profile-top-posts">Posts</h1>
        <hr>
        <div class="profile-post-container">
            {% for post in post %}
            <a href="#">
            <div class="profile-post-card">
                <div class="profile-post-image">
                    <img src="{{post.photo}}" alt="post-image">
                </div>
                <div class="profile-post-content">
                    <div class="profile-post-name-city">
                        <h6>{{post.name}}</h6>
                        <p id="profile-post-city">{{post.city.name}}, {{post.city.state}}</p>
                    </div>
                    <div class="profile-post-action">
                        <a class="edit-btn" href="#"><i class="bi bi-pencil-fill"></i></a>
                        <a class="delete-btn" href="#"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
            </div>
            </a>
            {% empty %}
            <h2 class="no-posts">No Posts to Show</h2>
            {% endfor %}
        </div>
    </div>
    <div class="events">
        <h1 class="homepage-events">Events Attending</h1>
        <hr>
        <div class="top-events-container">
            {% for event in events %}
            <a href="">
            <div class="event-card">
                <div class="event-image">
                    <img src="{{event.image}}" alt="fun">
                </div>
                <div class="event-content">
                    <div class="event-title-homepage">
                        <h6 class="event-name-homepage">{{event.name}}</h6>
                        <p>{{event.city.name}}, {{event.city.state}}</p>
                    </div>
                    <div class="event-info-homepage">
                        <div class="person-date">
                            <p id="person"><i class="bi bi-person"></i></p>
                            <p class="person-count">{{event.users_attending.all.count}}</p>
                        </div>
                        <p id="date">11/21/21</p>
                    </div>
                </div>
            </div>
            </a>
            {% empty %}
            <h2 class="no-posts">Not Attending any Events</h2>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}