{% extends 'base.html' %}
{% block title %}Profile{% endblock %} 
{% block content %}

<div class="profile-page">
    <div class="profile-header">
        <div class="image-name-city">
            {% for prof in profile %}
            <img src="{{prof.avatar}}" alt="user-image">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <h6>{{prof.city.name}}, {{prof.city.state}} - Joined on {{user.date_joined.month}}/{{user.date_joined.day}}/{{user.date_joined.year}}</h6>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="profile-edit-btn">
            <a href="/profile/{{user.pk}}/edit">
                <button id="edit-profile" class="btn">Edit Profile</button>
            </a>
        </div>
        {% else %} 
        {% endif %}
    </div>
    <!-- ha ha this is so i can commit-->
    <!-- Edit Profile Modal -->
    
    <!-- <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="name" class="form-control input-lg" name="user" value="User's Name Here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current City</label>
                        <div>
                            <input type="name" class="form-control input-lg" name="city" value="User's Current City">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">New Photo</label>
                        <div>
                            <input type="name" class="form-control input-lg" name="avatar" value="Photo upload go here">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button id="profilesavechanges" class="btn">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->
    <div class="profile-posts">
        <h1 class="profile-top-posts">Posts</h1>
        <hr>
        <div class="profile-post-container">
            {% for post in posts %}
            <a href="#">
            <div class="profile-post-card">
                <div class="profile-post-image">
                    <img src="{{post.photo}}" alt="post-image">
                </div>
                <div class="profile-post-content">
                    <div class="profile-post-name-city">
                        <h6>{{post.title}}</h6>
                        <p id="profile-post-city">{{post.city.name}}, {{post.city.state}}</p>
                    </div>
                    <div class="profile-post-action">
                        <a class="edit-btn" href="#"><i class="bi bi-pencil-fill"></i></a>
                        <a class="delete-btn" href="#"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
            </div>
            </a>
            {% empty %}
            <h6 class="no-posts">No Posts to Show</h6>
            {% endfor %}
        </div>
    </div>
    <div class="events">
        <h1 class="homepage-events">Events Attending</h1>
        <hr>
        <div class="top-events-container">
            {% for event in events %}
            <a href="">
            <div class="event-card">
                <div class="event-image">
                    <img src="{{event.image}}" alt="fun">
                </div>
                <div class="event-content">
                    <div class="event-title-homepage">
                        <h6 class="event-name-homepage">{{event.name}}</h6>
                        <p>{{event.city.name}}, {{event.city.state}}</p>
                    </div>
                    <div class="event-info-homepage">
                        <div class="person-date">
                            <p id="person"><i class="bi bi-person"></i></p>
                            <p class="person-count">{{event.users_attending.all.count}}</p>
                        </div>
                        <p id="date">{{event.date.month}}/{{event.date.day}}/{{event.date.year}}</p>
                    </div>
                </div>
            </div>
            </a>
            {% empty %}
            <h6 class="no-posts">Not Attending any Events</h6>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Another Change so I can push lol -->
{% endblock %}